#options {
    position: relative;
    z-index: 20;
}

#evaluationResultContainer,
#evaluationWarning {
	opacity: 0;
	max-height: 0;
	transition-duration: 600ms;
}

#evaluationResultContainer.shown,
#evaluationWarning.shown {
	opacity: 1;
	max-height: 250px;
}

@media only screen and (min-width: 800px) {
	#rescols {
		column-count: 2;
	}

	#rescols div {
		overflow-x: auto;
		min-height: 120px;
		max-height: 800px;
	}
}

#derivedFunction mjx-container {
	position: initial!important;
	padding-bottom: 12px;
}

#parsedFunction, #derivedFunction {
	min-height: 48px;
}
