<!DOCTYPE html>
<html lang="nl">

<head>
	<base href="https://wiskundevragen.github.io/" />
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script defer>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
		var home = false;
	</script>
	<meta charset="UTF-8">
	{% seo %}
	<link rel='apple-touch-icon' href='../Images/apple-touch-icon.png'>
	<link rel="manifest" href="../manifest.json">
	<meta name='description' content='{{page.desc}}'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link alt='WiskundeVragen Logo' rel='icon' href='../Images/Icon.png'>
	<link alt='WiskundeVragen Logo' rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link alt='WiskundeVragen Logo' rel="icon" type="image/png" sizes="32x32" href="../Images/Icon-32x32.png">
	<link alt='WiskundeVragen Logo' rel="icon" type="image/png" sizes="16x16" href="../Images/Icon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<script defer>
		{% include Main.js %}
	</script>
</head>

<body>
	<header class="page-header" role="banner">
		<h1 class="project-name">Wiskunde Vragen</h1>
		<center>
			<div id="searchBoxO">
				<div id="searchBox">
					<i class='material-icons' id='balance'>search</i>
					<input type="text" id="search" autocomplete="off">
					<i class='material-icons' type='submit' id='searchIcon' title="Doorzoek WiskundeVragen">search</i>
					<span id='searchHelp'></span>
				</div>
			</div>
		</center>
		<a href="../" class="btn">Homepagina</a>
	</header>

	<main id="content" class="main-content" role="main">
		<h1>Pagina niet gevonden!</h1>
		Deze pagina bestaat niet! Controleer of de URL goed gespeld is, en neem ander een kijkje op de <a
			href="../">homepagina</a>, waar een lijst staat met alle relevante links.
	</main>
	<style defer>
		{% include styles.css %}
	</style>
</body>

</html>