---
test: hoi
---
<!DOCTYPE html>
<html lang="nl">

<head>
	{% if site.google_analytics %}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', '{{ site.google_analytics }}');
	</script>
	{% endif %}
	<meta charset="UTF-8">

	{% if page.latex %}
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{% endif %}

	{% seo %}
	<meta name='description' content='{{page.desc}}'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#157878">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel='icon' href='../Images/Icon.png'>
</head>

<body>
	<header class="page-header" role="banner">
		<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
		<h2 class="project-tagline">
			{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
		<a href="https://wiskundevragen.github.io/" class="btn">Homepagina</a>
	</header>

	<main id="content" class="main-content" role="main">
		{{ content }}

		<h1>
			{{site.options[site.choice]}}
		</h1>

		<!-- {% if page.see_also %}
		<h2>Zie ook</h2>
		<ul>
			{% for item in page.see_also %}
			<li><a href='{{item.url}}'>{{item.title}}</a></li>
			{% endfor %}
		</ul>
		{% endif %} -->
	</main>
</body>

</html>